.delete-btn {
}
.mat-form-field {
    width: 90%;
    margin-left: 5%;
}
.mat-elevation-z8 {
    width: 90%;
    margin-left: 5%;
}
table {
    width: 100%;
}
.table-footer {
    margin-top: 5px;
    margin-left: 5%;
    width: 90%;
}
.btn-green {
    background-color: rgb(101, 199, 101);
}