.mat-grid-tile {
  background: lightblue;
}
.mat-grid-list {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.mat-toolbar {
  border-radius: 10px;
}
button {
  background-color: rgb(125, 209, 123);
}
